<div class="layout layout--stretch-x">
  <div class="frame" style="width: 100%; text-align: center;">
    {% if image_url %}
      <img src="{{ image_url }}" style="width: 100%; height: auto;" />
    {% else %}
      <span class="value">No image yet</span>
    {% endif %}
  </div>
</div>
